Repository AmProsius/gothic-1-community-patch, pull requests merged in 2021-03, with the labels that each got.

#136 NPCs cannot use ladders when following the player
  docs/changelog.md
  src/Ninja/G1CP/Content/Fixes/Session/fix136_FollowLadder.d
  src/Ninja/G1CP/Content/NinjaInit.d
  src/Ninja/G1CP/Content/Tests/test136.d
  src/Ninja/G1CP/Content_G1.src
Labels: validated

#32 Gorn attacks the player in the Free Mine
  docs/changelog.md
  src/Ninja/G1CP/Content/Fixes/Session/fix032_GornAttackFreeMine.d
  src/Ninja/G1CP/Content/NinjaInit.d
  src/Ninja/G1CP/Content/Tests/test032.d
  src/Ninja/G1CP/Content_G1.src
Labels: compatibility: difficult, validation: validated

#94 Spelling - Horatio: "noch einmal" (DE)
  docs/changelog.md
  src/Ninja/G1CP/Content/Fixes/Session/fix094_DE_HoratioInfoDescThoughtStr.d
  src/Ninja/G1CP/Content/Tests/test094.d
  src/Ninja/G1CP/Content/patchInit.d
  src/Ninja/G1CP/Content_G1.src
Labels: compatibility: difficult, fix provided, impl: replace assign/push str, language depended, type: session fix, validation: validated

#174 Spelling - Gomez' Key (EN)
  docs/changelog.md
  src/Ninja/G1CP/Content/Fixes/Session/fix174_EN_GomezKeyName.d
  src/Ninja/G1CP/Content/Tests/test174.d
  src/Ninja/G1CP/Content/patchInit.d
  src/Ninja/G1CP/Content_G1.src
Labels: compatibility: easy, fix provided, impl: replace assign/push str, language depended, type: session fix, validation: required

#192 Mages auto-equip melee/ranged weapons
  docs/changelog.md
  src/Ninja/G1CP/Content/Fixes/Session/fix059_NpcEquipBestWeapons.d
  src/Ninja/G1CP/Content/Fixes/Session/fix192_MagicUserAutoEquip.d
  src/Ninja/G1CP/Content/Tests/test192.d
  src/Ninja/G1CP/Content/patchInit.d
  src/Ninja/G1CP/Content_G1.src
Labels: compatibility: easy, fix provided, impl: misc, type: session fix

#175 Spelling - Rice Lord's Key (EN)
  docs/changelog.md
  src/Ninja/G1CP/Content/Fixes/Session/fix175_EN_RiceLordKeyName.d
  src/Ninja/G1CP/Content/Tests/test175.d
  src/Ninja/G1CP/Content/patchInit.d
  src/Ninja/G1CP/Content_G1.src
Labels: compatibility: easy, fix provided, impl: replace assign/push str, language depended, type: session fix, validation: required

#93 Spelling - Horatio: "zuzuschlagen" (DE)
  CHANGELOG.md
  src/Ninja/G1CP/Content/Fixes/Gamesave/fix093_DE_HoratioLogEntry.d
  src/Ninja/G1CP/Content/Fixes/gamesave.d
  src/Ninja/G1CP/Content/Tests/test093.d
  src/Ninja/G1CP/Content_G1.src
Labels: compatibility: difficult, fix provided, impl: replace assign/push str, language depended, type: revert on save, validation: validated

#144 Spelling - Gomez' Armor (DE)
  CHANGELOG.md
  src/Ninja/G1CP/Content/Fixes/Session/fix144_DE_GomezArmorName.d
  src/Ninja/G1CP/Content/Tests/test144.d
  src/Ninja/G1CP/Content/patchInit.d
  src/Ninja/G1CP/Content_G1.src
Labels: fix provided, impl: replace assign/push str, language depended, type: session fix, validation: validated

#149 Spelling - Improved Ore Armor (DE/EN)
  CHANGELOG.md
  docs/changelog_de.md
  src/Ninja/G1CP/Content/Fixes/Session/fix149_DE_EN_ImprovedOreArmorName.d
  src/Ninja/G1CP/Content/Tests/test149.d
  src/Ninja/G1CP/Content/patchInit.d
  src/Ninja/G1CP/Content_G1.src
Labels: fix provided, impl: replace assign/push str, language depended, type: session fix, validation: validated

#91 Spelling - Horatio: "Ricelord" (DE)
  docs/changelog_de.md
  src/Ninja/G1CP/Content/Fixes/Session/fix091_DE_HoratioAddChoiceAvenge.d
  src/Ninja/G1CP/Content/Tests/test091.d
  src/Ninja/G1CP/Content/patchInit.d
  src/Ninja/G1CP/Content_G1.src
Labels: compatibility: difficult, fix provided, impl: replace assign/push str, language depended, type: session fix, validation: validated

#121 Spelling - Quest: "Shrikes Hütte" (DE)
  docs/changelog_de.md
  src/Ninja/G1CP/Content/Fixes/Gamesave/fix121_DE_LogTopicShrikeHut.d
  src/Ninja/G1CP/Content/Fixes/gamesave.d
  src/Ninja/G1CP/Content/Tests/test121.d
  src/Ninja/G1CP/Content_G1.src
Labels: compatibility: difficult, fix provided, impl: replace str, language depended, type: revert on save, validation: validated

#147 Spelling - Crawler Plate Armor (DE)
  src/Ninja/G1CP/Content/Fixes/Session/fix147_DE_CrawlerPlateArmorName.d
  src/Ninja/G1CP/Content/Tests/test147.d
Labels: compatibility: easy, fix provided, impl: replace assign/push str, language depended, type: session fix, validation: validated

#148 Spelling - Ancient Ore Armor (DE)
  docs/changelog_de.md
  src/Ninja/G1CP/Content/Fixes/Session/fix148_DE_AncientOreArmorName.d
  src/Ninja/G1CP/Content/Tests/test148.d
  src/Ninja/G1CP/Content/patchInit.d
  src/Ninja/G1CP/Content_G1.src
Labels: compatibility: easy, fix provided, impl: replace assign/push str, language depended, type: session fix, validation: validated

#200 Text of Improved Ore Armor too long (DE)
  docs/changelog_de.md
  src/Ninja/G1CP/Content/Fixes/Session/fix200_DE_ImprovedOreArmorText.d
  src/Ninja/G1CP/Content/Tests/test200.d
  src/Ninja/G1CP/Content/patchInit.d
  src/Ninja/G1CP/Content_G1.src
Labels: compatibility: easy, fix provided, impl: replace assign/push str, language depended, opinionated, type: session fix, validation: validated

#201 Text of Ancient Ore Armor too long (DE)
  docs/changelog_de.md
  src/Ninja/G1CP/Content/Fixes/Session/fix201_DE_AncientOreArmorText.d
  src/Ninja/G1CP/Content/Tests/test201.d
  src/Ninja/G1CP/Content/patchInit.d
  src/Ninja/G1CP/Content_G1.src
Labels: compatibility: easy, fix provided, impl: replace assign/push str, language depended, opinionated, type: session fix, validation: validated

#145 Spelling - Light Mercenary's Armor (DE)
  docs/changelog_de.md
  src/Ninja/G1CP/Content/Fixes/Session/fix145_DE_LightMercenarysArmorName.d
  src/Ninja/G1CP/Content/Tests/test145.d
  src/Ninja/G1CP/Content/patchInit.d
  src/Ninja/G1CP/Content_G1.src
Labels: compatibility: easy, fix provided, impl: replace assign/push str, language depended, type: session fix, validation: validated

#146 Spelling - Novice's Loincloth (DE)
  docs/changelog_de.md
  src/Ninja/G1CP/Content/Fixes/Session/fix146_DE_NovicesLoinclothName.d
  src/Ninja/G1CP/Content/Tests/test146.d
  src/Ninja/G1CP/Content/patchInit.d
  src/Ninja/G1CP/Content_G1.src
Labels: compatibility: easy, fix provided, impl: replace assign/push str, language depended, type: session fix, validation: validated

#172 Spelling - Kalom's Recipe (DE)
  docs/changelog_de.md
  src/Ninja/G1CP/Content/Fixes/Session/fix172_DE_KalomsRecipeName.d
  src/Ninja/G1CP/Content/Tests/test172.d
  src/Ninja/G1CP/Content/patchInit.d
  src/Ninja/G1CP/Content_G1.src
Labels: compatibility: easy, fix provided, impl: replace assign/push str, language depended, type: session fix, validation: validated

#173 Spelling - Gomez' Key: "Gomez' Truhen" (DE)
  docs/changelog_de.md
  src/Ninja/G1CP/Content/Fixes/Session/fix173_DE_GomezKeyText.d
  src/Ninja/G1CP/Content/Tests/test173.d
  src/Ninja/G1CP/Content/patchInit.d
  src/Ninja/G1CP/Content_G1.src
Labels: compatibility: easy, fix provided, impl: replace assign/push str, language depended, type: session fix, validation: validated

#37 Gravo not listed as merchant
  CHANGELOG.md
  docs/changelog_de.md
  src/Ninja/G1CP/Content/Fixes/Gamesave/fix037_LogEntryGravoMerchant.d
  src/Ninja/G1CP/Content/Fixes/gamesave.d
  src/Ninja/G1CP/Content/Tests/test037.d
  src/Ninja/G1CP/Content_G1.src
Labels: compatibility: difficult, fix provided, impl: modify/analyze script func, type: revert on save, validation: required

#52 Exploit: Grindstone in the New Camp can be used without sword blade
  CHANGELOG.md
  docs/changelog_de.md
  src/Ninja/G1CP/Content/Fixes/Gamesave/fix052_UseWithItemNCGrindstone.d
  src/Ninja/G1CP/Content/Fixes/gamesave.d
  src/Ninja/G1CP/Content/Tests/test052.d
  src/Ninja/G1CP/Content_G1.src
Labels: compatibility: easy, fix provided, impl: change obj var, type: world bug, validation: validated

#142 Dialog lines with ambient templar interchanged pt. 1
  docs/changelog_de.md
  src/Ninja/G1CP/Content/Fixes/Session/fix142_TemplarVIPDialog.d
  src/Ninja/G1CP/Content/Tests/test142.d
  src/Ninja/G1CP/Content/patchInit.d
  src/Ninja/G1CP/Content_G1.src
Labels: compatibility: difficult, fix provided, impl: modify/analyze script func, language depended, type: session fix, validation: required

#4 NPCs are rude to the player even after defeating them
  CHANGELOG.md
  docs/changelog_de.md
  src/Ninja/G1CP/Content/Fixes/Session/fix004_NpcMoveNpcDefeated.d
  src/Ninja/G1CP/Content/Tests/test004.d
  src/Ninja/G1CP/Content/patchInit.d
  src/Ninja/G1CP/Content_G1.src
Labels: compatibility: difficult, fix provided, impl: modify/analyze script func, opinionated, type: session fix, validation: required

#23 Baal Namib sells Novice's Armor too late
  CHANGELOG.md
  docs/changelog_de.md
  src/Ninja/G1CP/Content/Fixes/Session/fix023_BaalNamibSellArmor.d
  src/Ninja/G1CP/Content/Tests/test023.d
  src/Ninja/G1CP/Content/patchInit.d
  src/Ninja/G1CP/Content_G1.src
Labels: compatibility: difficult, fix provided, impl: modify/analyze script func, opinionated, type: session fix, validation: validated

#51 Chest in stonehenge crypt behind wall
  CHANGELOG.md
  docs/changelog_de.md
  src/Ninja/G1CP/Content/Fixes/Gamesave/fix051_StonehengeCryptChest.d
  src/Ninja/G1CP/Content/Fixes/gamesave.d
  src/Ninja/G1CP/Content/Tests/test051.d
  src/Ninja/G1CP/Content_G1.src
Labels: compatibility: easy, fix provided, impl: change obj var, type: world bug, validation: required

#181 Swiney gives his own pants to the player
  CHANGELOG.md
  docs/changelog_de.md
  src/Ninja/G1CP/Content/Fixes/Session/fix181_SwineyGiveArmor.d
  src/Ninja/G1CP/Content/Tests/test181.d
  src/Ninja/G1CP/Content/patchInit.d
  src/Ninja/G1CP/Content_G1.src
Labels: compatibility: easy, fix provided, impl: hook script func, type: session fix, validation: validated

#182 Exploit: The gate guard can be bribed multiple times with Dusty as a follower
  CHANGELOG.md
  docs/changelog_de.md
  src/Ninja/G1CP/Content/Fixes/Session/fix182_GuardDialogDusty.d
  src/Ninja/G1CP/Content/Tests/test182.d
  src/Ninja/G1CP/Content/patchInit.d
  src/Ninja/G1CP/Content_G1.src
Labels: compatibility: difficult, fix provided, impl: unknown, type: session fix, validation: validated

#214 Graham doesn't sit at campfire
  CHANGELOG.md
  docs/changelog_de.md
  src/Ninja/G1CP/Content/Fixes/Session/fix214_GrahamDailyRoutine.d
  src/Ninja/G1CP/Content/Tests/test214.d
  src/Ninja/G1CP/Content/patchInit.d
  src/Ninja/G1CP/Content_G1.src
Labels: compatibility: easy, fix provided, impl: replace assign/push str, type: session fix, validation: required
