Repository AmProsius/gothic-1-community-patch, pull requests merged in 2021-05, with the labels that each got.

#226 Missing mana potion in stonehenge crypt chest
  CHANGELOG.md
  docs/changelog_de.md
  src/Ninja/G1CP/Content/Fixes/Gamesave/fix226_PotionStonehengeChest.d
  src/Ninja/G1CP/Content/Fixes/gamesave.d
  src/Ninja/G1CP/Content/Tests/test226.d
  src/Ninja/G1CP/Content_G1.src
  src/Ninja/G1CP/Testsuite.src
Labels: compatibility: difficult, impl: change obj var, provided fix, type: world bug, validation: validated

#194 NPCs do not collect the weapon after defeating an opponent
  CHANGELOG.md
  docs/changelog_de.md
  src/Ninja/G1CP/Content/Fixes/Session/fix194_TakeOpponentWeapon.d
  src/Ninja/G1CP/Content/Tests/test194.d
  src/Ninja/G1CP/Content/patchInit.d
  src/Ninja/G1CP/Content_G1.src
  src/Ninja/G1CP/Testsuite.src
Labels: compatibility: difficult, impl: modify/analyze script func, provided fix, type: session fix, validation: required

#58 Player can decelerate falls by fight actions in mid-air
  CHANGELOG.md
  docs/changelog_de.md
  src/Ninja/G1CP/Content/Fixes/Session/fix058_BlockFall.d
  src/Ninja/G1CP/Content/Misc/npc.d
  src/Ninja/G1CP/Content/Tests/test058.d
  src/Ninja/G1CP/Content/patchInit.d
  src/Ninja/G1CP/Content_G1.src
  src/Ninja/G1CP/Testsuite.src
Labels: compatibility: difficult, impl: modify engine func, type: session fix, validation: validated

#236 Spelling - Guild: "Orkhund" (DE)
  docs/changelog_de.md
  src/Ninja/G1CP/Content/Fixes/Session/fix236_DE_OrcDogGuild.d
  src/Ninja/G1CP/Content/Tests/test236.d
  src/Ninja/G1CP/Content/patchInit.d
  src/Ninja/G1CP/Content_G1.src
  src/Ninja/G1CP/Testsuite.src
Labels: compatibility: easy, impl: replace str, language depended, provided implementation, type: session fix, validation: validated

#129 Drake has wrong body skin color
  CHANGELOG.md
  docs/changelog_de.md
  src/Ninja/G1CP/Content/Fixes/Session/fix129_DrakeBodySkin.d
  src/Ninja/G1CP/Content/Tests/test129.d
  src/Ninja/G1CP/Content/patchInit.d
  src/Ninja/G1CP/Content_G1.src
  src/Ninja/G1CP/Testsuite.src
Labels: compatibility: easy, impl: modify/analyze script func, provided implementation, type: session fix, validation: validated

#220 Gor Na Ran attacks the player character in chapter 6
  CHANGELOG.md
  docs/changelog_de.md
  src/Ninja/G1CP/Content/Fixes/Session/fix220_GorNaRanDialogMad.d
  src/Ninja/G1CP/Content/Tests/test220.d
  src/Ninja/G1CP/Content/patchInit.d
  src/Ninja/G1CP/Content_G1.src
  src/Ninja/G1CP/Testsuite.src
Labels: compatibility: easy, impl: hook script func, opinionated, provided implementation, type: session fix, validation: required

#228 Gorn can't be asked about after talking to Lares
  CHANGELOG.md
  docs/changelog_de.md
  src/Ninja/G1CP/Content/Fixes/Session/fix228_LaresDialogFindGorn.d
  src/Ninja/G1CP/Content/Tests/test228.d
  src/Ninja/G1CP/Content/patchInit.d
  src/Ninja/G1CP/Content_G1.src
  src/Ninja/G1CP/Testsuite.src
Labels: compatibility: easy, impl: hook script func, provided implementation, type: session fix, validation: required

#224 Exploit: Undead orc priest can die from fall damage
  CHANGELOG.md
  docs/changelog_de.md
  src/Ninja/G1CP/Content/Fixes/Gamesave/fix224_OrcPriestFallDamage.d
  src/Ninja/G1CP/Content/Fixes/gamesave.d
  src/Ninja/G1CP/Content/Misc/npc.d
  src/Ninja/G1CP/Content/Tests/test009.d
  src/Ninja/G1CP/Content/Tests/test032.d
  src/Ninja/G1CP/Content/Tests/test050.d
  src/Ninja/G1CP/Content/Tests/test058.d
  src/Ninja/G1CP/Content/Tests/test115.d
  src/Ninja/G1CP/Content/Tests/test129.d
  src/Ninja/G1CP/Content/Tests/test136.d
  src/Ninja/G1CP/Content/Tests/test182.d
  src/Ninja/G1CP/Content/Tests/test224.d
  src/Ninja/G1CP/Content/Testsuite/npc.d
  src/Ninja/G1CP/Content_G1.src
  src/Ninja/G1CP/Testsuite.src
Labels: compatibility: easy, impl: change obj var, provided implementation, type: revert on save, validation: required

#232 Spelling - Transform Bloodfly (DE)
  docs/changelog_de.md
  src/Ninja/G1CP/Content/Fixes/Session/fix232_DE_TransformBloodflyDescription.d
  src/Ninja/G1CP/Content/Tests/test043.d
  src/Ninja/G1CP/Content/Tests/test125.d
  src/Ninja/G1CP/Content/Tests/test144.d
  src/Ninja/G1CP/Content/Tests/test145.d
  src/Ninja/G1CP/Content/Tests/test146.d
  src/Ninja/G1CP/Content/Tests/test147.d
  src/Ninja/G1CP/Content/Tests/test148.d
  src/Ninja/G1CP/Content/Tests/test149.d
  src/Ninja/G1CP/Content/Tests/test152.d
  src/Ninja/G1CP/Content/Tests/test172.d
  src/Ninja/G1CP/Content/Tests/test173.d
  src/Ninja/G1CP/Content/Tests/test174.d
  src/Ninja/G1CP/Content/Tests/test175.d
  src/Ninja/G1CP/Content/Tests/test200.d
  src/Ninja/G1CP/Content/Tests/test201.d
  src/Ninja/G1CP/Content/Tests/test232.d
  src/Ninja/G1CP/Content/Tests/test235.d
  src/Ninja/G1CP/Content/Tests/test236.d
  src/Ninja/G1CP/Content/Testsuite/inspect.d
  src/Ninja/G1CP/Content/patchInit.d
  src/Ninja/G1CP/Content_G1.src
  src/Ninja/G1CP/Testsuite.src
Labels: compatibility: easy, impl: replace str, language depended, provided fix, type: session fix, validation: validated

#231 Spelling - Transform Orc Dog (DE)
  docs/changelog_de.md
  src/Ninja/G1CP/Content/Fixes/Session/fix231_DE_TransformOrcDogDescription.d
  src/Ninja/G1CP/Content/Tests/test231.d
  src/Ninja/G1CP/Content/patchInit.d
  src/Ninja/G1CP/Content_G1.src
  src/Ninja/G1CP/Testsuite.src
Labels: compatibility: easy, impl: replace str, language depended, provided fix, type: session fix, validation: validated
