Repository AmProsius/gothic-1-community-patch, pull requests merged in 2021-04, with the labels that each got.

#92 Spelling - Horatio: "den Reislord" (DE)
  docs/changelog_de.md
  src/Ninja/G1CP/Content/Fixes/Session/fix092_DE_HoratioAddChoiceWipeOut.d
  src/Ninja/G1CP/Content/Tests/test092.d
  src/Ninja/G1CP/Content/patchInit.d
  src/Ninja/G1CP/Content_G1.src
Labels: compatibility: easy, fix provided, impl: replace assign/push str, language depended, type: session fix, validation: validated

#152 Spelling - Ring of Fire Protection (EN)
  CHANGELOG.md
  src/Ninja/G1CP/Content/Fixes/Session/fix152_EN_ProtectionOfFireDescription.d
  src/Ninja/G1CP/Content/Tests/test152.d
  src/Ninja/G1CP/Content/patchInit.d
  src/Ninja/G1CP/Content_G1.src
Labels: compatibility: easy, fix provided, impl: replace assign/push str, language depended, type: session fix, validation: validated

#183 Corristo sells High Robe multiple times
  CHANGELOG.md
  docs/changelog_de.md
  src/Ninja/G1CP/Content/Fixes/Session/fix183_CorristoSellsRobe.d
  src/Ninja/G1CP/Content/Tests/test183.d
  src/Ninja/G1CP/Content/patchInit.d
  src/Ninja/G1CP/Content_G1.src
Labels: compatibility: easy, fix provided, impl: hook script func, type: session fix, validation: required

#215 Guy doesn't sit at arena
  CHANGELOG.md
  docs/changelog_de.md
  src/Ninja/G1CP/Content/Fixes/Session/fix215_GuyDailyRoutine.d
  src/Ninja/G1CP/Content/Tests/test215.d
  src/Ninja/G1CP/Content/patchInit.d
  src/Ninja/G1CP/Content_G1.src
Labels: compatibility: easy, fix provided, impl: replace assign/push str, type: session fix, validation: required

#216 Digger doesn't repair hut
  CHANGELOG.md
  docs/changelog_de.md
  src/Ninja/G1CP/Content/Fixes/Session/fix216_DiggerDailyRoutine.d
  src/Ninja/G1CP/Content/Tests/test216.d
  src/Ninja/G1CP/Content/patchInit.d
  src/Ninja/G1CP/Content_G1.src
Labels: compatibility: easy, fix provided, impl: replace assign/push str, type: session fix, validation: required

#14 The player can cancel fights by entering a room
  CHANGELOG.md
  docs/changelog_de.md
  src/Ninja/G1CP/Content/Fixes/Session/fix014_PortalCancelFight.d
  src/Ninja/G1CP/Content/Tests/test014.d
  src/Ninja/G1CP/Content/patchInit.d
  src/Ninja/G1CP/Content_G1.src
Labels: compatibility: easy, fix provided, impl: add/modify if-condition, type: session fix, validation: validated

#115 Dummy Templars survive in orc graveyard
  CHANGELOG.md
  docs/changelog_de.md
  src/Ninja/G1CP/Content/Fixes/Session/fix115_KillSittingDuck.d
  src/Ninja/G1CP/Content/Tests/test115.d
  src/Ninja/G1CP/Content/patchInit.d
  src/Ninja/G1CP/Content_G1.src
Labels: compatibility: difficult, impl: modify/analyze script func, type: session fix, validation: validated

#193 Gates triggered by switches are stuck after loading
  CHANGELOG.md
  docs/changelog_de.md
  src/Ninja/G1CP/Content/Fixes/Gamesave/fix193_GateSwitchesStuck.d
  src/Ninja/G1CP/Content/Fixes/gamesave.d
  src/Ninja/G1CP/Content/Tests/test193.d
  src/Ninja/G1CP/Content_G1.src
Labels: compatibility: difficult, fix provided, impl: hook engine func, impl: modify engine func, type: revert on save, validation: required

#110 Weird camera distance when sitting on a bench
  CHANGELOG.md
  docs/changelog_de.md
  src/Ninja/G1CP/Content/Fixes/Session/fix110_MobInteractCamera.d
  src/Ninja/G1CP/Content/Tests/test110.d
  src/Ninja/G1CP/Content/patchInit.d
  src/Ninja/G1CP/Content_G1.src
Labels: compatibility: easy, fix provided, impl: modify engine func, opinionated, type: session fix, validation: validated

#133 Spelling - Scatty: "Meine" (DE)
  docs/changelog_de.md
  src/Ninja/G1CP/Content/Fixes/Gamesave/fix133_DE_LogEntryScatty.d
  src/Ninja/G1CP/Content/Fixes/gamesave.d
  src/Ninja/G1CP/Content/Tests/test133.d
  src/Ninja/G1CP/Content_G1.src
Labels: compatibility: easy, fix provided, impl: replace assign/push str, language depended, type: revert on save, validation: validated

#217 Mercenary doesn't guard the palisade
  CHANGELOG.md
  docs/changelog_de.md
  src/Ninja/G1CP/Content/Fixes/Session/fix217_MercenaryDailyRoutine.d
  src/Ninja/G1CP/Content/Tests/test217.d
  src/Ninja/G1CP/Content/patchInit.d
  src/Ninja/G1CP/Content_G1.src
Labels: compatibility: easy, fix provided, impl: replace assign/push str, type: session fix, validation: required

#197 Dialog lines with ambient templar interchanged pt. 2
  docs/changelog_de.md
  src/Ninja/G1CP/Content/Fixes/Session/fix142_TemplarVIPDialog.d
  src/Ninja/G1CP/Content/Fixes/Session/fix197_TemplarCampDialog.d
  src/Ninja/G1CP/Content/Misc/findInFunc.d
  src/Ninja/G1CP/Content/Tests/test197.d
  src/Ninja/G1CP/Content/patchInit.d
  src/Ninja/G1CP/Content_G1.src
Labels: compatibility: difficult, fix provided, impl: modify/analyze script func, language depended, type: session fix, validation: required

#143 Spelling - Buster: "unterrichtet" (DE)
  docs/changelog_de.md
  src/Ninja/G1CP/Content/Fixes/Gamesave/fix143_DE_LogEntryBuster.d
  src/Ninja/G1CP/Content/Fixes/gamesave.d
  src/Ninja/G1CP/Content/Tests/test143.d
  src/Ninja/G1CP/Content_G1.src
Labels: compatibility: easy, fix provided, impl: replace assign/push str, language depended, type: revert on save, validation: validated

#184 Bartholo can be given weed multiple times
  CHANGELOG.md
  docs/changelog_de.md
  src/Ninja/G1CP/Content/Fixes/Session/fix184_BartholoWeedExploit.d
  src/Ninja/G1CP/Content/Tests/test184.d
  src/Ninja/G1CP/Content/patchInit.d
  src/Ninja/G1CP/Content_G1.src
Labels: compatibility: easy, fix provided, impl: hook script func, type: session fix, validation: required

#185 Scorpio offers to teach crossbow multiple times
  CHANGELOG.md
  docs/changelog_de.md
  src/Ninja/G1CP/Content/Fixes/Session/fix185_ScorpioCrossbow.d
  src/Ninja/G1CP/Content/Tests/test185.d
  src/Ninja/G1CP/Content/patchInit.d
  src/Ninja/G1CP/Content_G1.src
Labels: compatibility: easy, fix provided, impl: hook script func, type: session fix, validation: required

#186 Corristo can be asked to join the mages multiple times
  CHANGELOG.md
  docs/changelog_de.md
  src/Ninja/G1CP/Content/Fixes/Session/fix186_CorristoJoinMages.d
  src/Ninja/G1CP/Content/Tests/test186.d
  src/Ninja/G1CP/Content/patchInit.d
  src/Ninja/G1CP/Content_G1.src
Labels: compatibility: easy, fix provided, impl: hook script func, type: session fix, validation: required

#188 Cor Kalom can be told that the weed was delivered multiple times
  CHANGELOG.md
  docs/changelog_de.md
  src/Ninja/G1CP/Content/Fixes/Session/fix188_CorKalomWeedExploit.d
  src/Ninja/G1CP/Content/Tests/test188.d
  src/Ninja/G1CP/Content/patchInit.d
  src/Ninja/G1CP/Content_G1.src
Labels: compatibility: easy, fix provided, impl: hook script func, type: session fix, validation: required

#45 Snappers don't spawn outside the Monastery ruins
  CHANGELOG.md
  docs/changelog_de.md
  src/Ninja/G1CP/Content/Fixes/Gamesave/fix045_SpawnSnappersMonastery.d
  src/Ninja/G1CP/Content/Fixes/gamesave.d
  src/Ninja/G1CP/Content/Misc/npc.d
  src/Ninja/G1CP/Content/Tests/test045.d
  src/Ninja/G1CP/Content_G1.src
Labels: compatibility: difficult, impl: modify/analyze script func, validation: validated

#203 Graham not listed as merchant
  CHANGELOG.md
  docs/changelog_de.md
  src/Ninja/G1CP/Content/Fixes/Gamesave/fix203_LogEntryGrahamMerchant.d
  src/Ninja/G1CP/Content/Fixes/gamesave.d
  src/Ninja/G1CP/Content/Tests/test203.d
  src/Ninja/G1CP/Content_G1.src
Labels: compatibility: difficult, impl: modify/analyze script func, provided fix, type: revert on save, validation: required

#205 Wolf not listed as merchant
  CHANGELOG.md
  docs/changelog_de.md
  src/Ninja/G1CP/Content/Fixes/Gamesave/fix205_LogEntryWolfMerchant.d
  src/Ninja/G1CP/Content/Fixes/gamesave.d
  src/Ninja/G1CP/Content/Tests/test205.d
  src/Ninja/G1CP/Content_G1.src
Labels: compatibility: difficult, impl: modify/analyze script func, provided fix, type: revert on save, validation: required

#204 Cavalorn not listed as tutor
  CHANGELOG.md
  docs/changelog_de.md
  src/Ninja/G1CP/Content/Fixes/Session/fix204_LogEntryCavalornTutor.d
  src/Ninja/G1CP/Content/Tests/test204.d
  src/Ninja/G1CP/Content/patchInit.d
  src/Ninja/G1CP/Content_G1.src
Labels: compatibility: difficult, impl: modify/analyze script func, impl: replace func call, provided fix, type: session fix, validation: validated

#212 Cauldron in the New Camp can be used without a scoop pt. 1
  CHANGELOG.md
  docs/changelog_de.md
  src/Ninja/G1CP/Content/Fixes/Gamesave/fix212_UseWithItemNCCauldron1.d
  src/Ninja/G1CP/Content/Fixes/gamesave.d
  src/Ninja/G1CP/Content/Tests/test212.d
  src/Ninja/G1CP/Content_G1.src
Labels: compatibility: easy, impl: change obj var, provided fix, type: world bug, validation: validated

#213 Cauldron in the New Camp can be used without a scoop pt. 2
  CHANGELOG.md
  docs/changelog_de.md
  src/Ninja/G1CP/Content/Fixes/Gamesave/fix213_UseWithItemNCCauldron2.d
  src/Ninja/G1CP/Content/Fixes/gamesave.d
  src/Ninja/G1CP/Content/Tests/test213.d
  src/Ninja/G1CP/Content_G1.src
Labels: compatibility: easy, impl: change obj var, provided fix, type: world bug, validation: validated

#55 Reactivate In Extremo concert
  CHANGELOG.md
  docs/changelog_de.md
  src/Ninja/G1CP/Content/Fixes/Gamesave/fix055_ReactivateInExtremo.d
  src/Ninja/G1CP/Content/Fixes/gamesave.d
  src/Ninja/G1CP/Content/Tests/test055.d
  src/Ninja/G1CP/Content_G1.src
Labels: compatibility: difficult, impl: hook script func, impl: modify/analyze script func, opinionated, provided fix, type: revert on save, validation: validated

#176 The text of items with no value is incomplete in the inventory
  CHANGELOG.md
  docs/changelog_de.md
  src/Ninja/G1CP/Content/Fixes/Session/fix176_InvItemTextValue.d
  src/Ninja/G1CP/Content/Tests/test176.d
  src/Ninja/G1CP/Content/patchInit.d
  src/Ninja/G1CP/Content_G1.src
Labels: compatibility: difficult, impl: modify engine func, provided fix, type: session fix, validation: required

#223 "The Big Thing of the Brotherhood" creates log entries for Old and New Camp
  CHANGELOG.md
  docs/changelog_de.md
  src/Ninja/G1CP/Content/Fixes/Session/fix223_CorKalomSpyQuest.d
  src/Ninja/G1CP/Content/Tests/test223.d
  src/Ninja/G1CP/Content/patchInit.d
  src/Ninja/G1CP/Content_G1.src
  src/Ninja/G1CP/Testsuite.src
Labels: compatibility: difficult, impl: modify/analyze script func, type: session fix, validation: required
